<h1>SearchEngine Home2</h1>

<div style="margin-top: 60px;">
    <span class="col-md-6 col-md-offset-3">
    <input type="text" class="form-control" ng-model="searchString2" placeholder='Search: e.g. "fuck" or "alex"' ng-change="search2()"/>
    </span>
</div>

<div class="clearfix"></div>

<table id="list_of_titles" class="table table-striped table-condensed" style="margin-top: 60px;">
    <thead>
    <tr>
        <th style="min-width: 80px;">Short_tiles</th>
        <th style="min-width: 80px;">Short_titl</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="result in results">
        <td><a href="#/titles/{{result.id}}">{{ result.short_title }}</a></td>
        <td>{{ result.short_title }}</td>
    </tr>
    </tbody>
</table>

<a href="#/newTitle" class="btn btn-small btn-primary">Insert New Title</a>
<a href="#/titles" class="btn btn-small btn-primary">Full List</a>
