<h1>SearchEngine Home2</h1>
<div class="row">
    <div class="col-sm-6 col-offset-sm-3">
      <input type="text" class="form-control" ng-model="searchString2" placeholder='Search: e.g. "manu" or "alex"' ng-change="search2()"/>
  </div>
      <div class="col-sm-12"> <br/></div>
</div>
<br/><h2>Request Time Execution : {{results[0].ms}} miliseconds</h2><br/>
<div ng-hide="loading" class="row">

    			<div class="col-sm-3" ng-repeat="result in results">
            <div class="row">

                <div class="col-sm-12">
                  <img class="img-responsive" height="300" width="150" ng-src="{{result.poster}}" />

                </div>
                <div class="col-sm-12">
    						<h4 class=""><strong>{{ result.short_title }}</strong></h4>

        		</div>
        	</div>
      </div>

<br/>
    <div class="col-sm-12">
      <a href="#/newTitle" class="btn btn-small btn-primary">Insert New Title</a>
      <a href="#/titles" class="btn btn-small btn-primary">Full List</a>
    </div>

</div>
